.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Streak */

.Circle1{
  height: 38px;
  width: 38px;
  border: 1px solid #FCE781;
  border-radius: 50%;
  background-color: #0A4699;
  display:inline-block;
}

.Circle2
{height: 38px;
  width: 38px;
  border: 1px solid #FCE781;
  border-radius: 50%;
  background-color: #4890F3;
  display:inline-block;}
  

.Circle3{
  height: 38px;
  width: 38px;
  border: 1px solid #FCE781;
  border-radius: 50%;
  background-image: linear-gradient(#0A4699 50%, #4890F3 50%);
  display:inline-block;
}